.container-fluid
  .row.justify-content-center
    .col-12
      / Header
      .header
        .header-body
          .row.align-items-center
            .col
              / Pretitle
              %h6.header-pretitle
                Overview
              / Title
              %h1.header-title
                Tax Rates
            .col-auto
              / Button
              = link_to 'New Tax Rate', new_tax_rate_path, class: "btn btn-outline-primary"  
          
      .card
        .card-header
          / Search
          = render "search", q: @q
          
          / Dropdown
          -# .dropdown
          -#   %button#bulkActionDropdown.btn.btn-sm.btn-white.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-bs-toggle" => "dropdown", :type => "button"}
          -#     Bulk action
          -#   .dropdown-menu.dropdown-menu-end{"aria-labelledby" => "bulkActionDropdown"}
          -#     %a.dropdown-item{:href => "#!"} Action
          -#     %a.dropdown-item{:href => "#!"} Another action
          -#     %a.dropdown-item{:href => "#!"} Something else here
        .table-responsive
          %table.table.table-sm.table-nowrap.card-table
            - if @tax_rates.any?  
              %thead
                %tr
                  %th{scope: "col"} Continent
                  %th{scope: "col"} Country
                  %th{scope: "col"} Rate
                  %th{scope: "col"} Total Rate
                  %th{scope: "col"} On Shipping
                  %th{scope: "col"} On Digital
                  %th{scope: "col"} Action
              %tbody
                - @tax_rates.each do |tax|
                  %tr
                    %td= tax.continent.name
                    %td= tax.country
                    %td= tax.rate
                    %td= tax.total_rate
                    %td= tax.on_shipping
                    %td= tax.on_digital
                    %td.text-right
                      -# = link_to 'Show', style, class: "btn btn-outline-success btn-sm"
                      = link_to 'Edit', edit_tax_rate_path(tax), class: "btn btn-outline-info btn-sm"
            - else
              = render 'shared/no_data'
  .row.mb-5       
    = paginate @tax_rates     
