
.header
  .container-fluid
    .header-body
      .row.align-items-end
        .col
          %h6.header-pretitle
            Overview
          %h1.header-title
            Colours
        .col-auto
          = link_to 'New Colour', new_colour_path, class: "btn btn-outline-primary"  
.container-fluid
  .row.justify-content-md-center
    .col-12
      .card
        .card-body
          %table.table.table-striped.table-bordered#example
            - if @colours.any?  
              %thead
                %tr
                  %th{scope: "col"} Name
                  %th{scope: "col"} Status
                  %th{scope: "col"} Action
              %tbody
                - @colours.each do |colour|
                  %tr
                    %td= colour.name
                    %td= boolean_to_text( colour.status )
                    %td.text-right
                      = link_to 'Edit', edit_colour_path(colour), class: "btn btn-outline-info btn-sm"
            - else
              = render 'shared/no_data'
